date.py
messages.txt
/stickers_used/*
/message_requests/*
/inbox/*
/filtered_threads/*
/files/*
/Facebook-Messenger-Data/*
/archived_threads/*
build/
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
